{% extends "html/base_generic.html" %}
{% block content %}
    <div class="container d-flex justify-content-center">
        {% load static %}
        <img class="d-flex justify-content-center" src="{% static 'media/photo.jpg' %}" width="20%" height="20%"
             style="padding: 5px">

    </div>

    <div class="d-flex justify-content-center">
        <h2>Шрекус</h2>
    </div>
    <div class="d-flex justify-content-center">
        <ul>
            <li>Желаемая должность: Junior back-end разработчик</li>
            <li>Образование: Низшее</li>
            <li>Опыт работы: Отсутствует</li>
            <li>Интересы: Болото</li>
        </ul>
    </div>
{% endblock %}