.square {
	width: 100px;
	height: 100px;
	background: red;
	margin: 20px;
	transition: 5s;
}
.square:hover{
	background: blue;
}
.rectangle {
	width: 200px;
	height: 100px;
	background: red;
	margin: 20px;
	color:white;
	display: flex;
	justify-content: center;
	transition: transform 200ms;
}
.circle:hover{
	background: blue;
	transition: 5ms;
}
.circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: 20px;
	transition: 2s;
}